.banner-no-image,
.banner-with-image,
.banner-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.category .title {
  font-size: 30px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.category .products {
  display: flex;
  flex-flow: wrap row;
}

.category .products .item {
  display: flex;
  width: 210px;
  flex-direction: column;
  background: #fff;
  padding: 30px;
  border-radius: 2px;
  margin: 20px 10px 0 10px;
}

.category .products .item:nth-of-type(4n) {
  margin-right: 0;  
}

.category .products .item:nth-of-type(4n+1) {
  margin-left: 0; 
}

.category .products .item:hover {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25);
}

.category .products .item img {
  width: 210px;
  object-fit: contain;
}

.category .products .item .name {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 17px;
  margin-top: 20px;
}

.category .products .item .price {
  display: flex;
  align-items: center;
  margin: 22px 0;
}

.category .products .item .price .current-price{
  font-weight: 600;
  font-size: 20px;
}

.category .products .item .price .original-price{
  color: #bebebe;
  margin-left: 8px;
}

.banner-with-image .container .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  margin: 50px 0;
  background-color: #fff;
  padding: 0 40px;
}

.banner-with-image .banner-image {
  width: 55%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 200px;
}

.banner-with-image .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-with-image .content .title {
  font-size: 22px;
  font-weight: 600;
  margin-left: 30px;
}

.banner-with-image .content .hint {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-with-image .content .btn-black-border {
  width: 250px;
}

.banner-no-image .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(96deg, #1475ac, #5fbccd 45%, #f6bdb0);
  padding: 25px 0;
  margin: 50px 0;
}

.banner-no-image .title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.offical {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
}

.offical .container {
  padding: 50px 0;
}

.offical .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offical .head .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.offical .head .text {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 2px 0;
}

.offical .items {
  display: flex;
  flex-flow: wrap row;
  margin-top: 10px;
  justify-content: space-around;
}

.offical .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.offical .items .item img {
  width: 110px;
  height: 110px;
  margin-bottom: 15px;
}

.offical .items .item .text {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}