footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .footer-information {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #193543;
  padding: 30px 0;
}

footer .footer-information .container {
  display: flex;
}

footer .footer-information .group-link {
  width: 25%;
}

footer .footer-information .group-link ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

.footer-information .group-link ul li.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-information .group-link ul li {
  margin: 3px 0;
}

.footer-information .group-link ul li a {
  font-weight: 600;
}

.footer-app-information {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footer-app-information .input-group input {
  background: #112631;
  border-color: #112631;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;  
}

.footer-app-information .input-group .input-group-preappend {
  width: 200px;
  background: #F4733A;
  color: #fff;
  padding: 12px 14px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.footer-app-information .download-icon {
  display: flex;
  margin-top: 20px;
}

.footer-app-information .download-icon .text{
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 10px;
  margin-right: 20px;
}

.footer-app-information .download-icon .lazada-icon {
  width: 40px;
  height: 40px;
}

.footer-app-information .download-icon .play-store,
.footer-app-information .download-icon .app-store {
  width: 150px;
  height: 45px;
  margin-left: 10px;
}

.footer-social-information,
.footer-extra-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.footer-social-information {
  background: #f7f7f7;
}

.footer-social-information .container,
.footer-extra-information .container {
  display: flex;
}

.footer-social-information .area,
.footer-extra-information .payment-method {
  width: 50%;
}

.footer-social-information .follow {
  width: 35%;
}

.footer-social-information .copy-right {
  width: 15%;
  text-align: right;
}

.footer-social-information .area img,
.footer-social-information .follow img,
.footer-extra-information .payment-method img {
  width: 200px;
}

.footer-extra-information .delivery {
  margin-right: 20px;
}

.footer-extra-information .delivery img {
  width: 300px;
}

.footer-extra-information .verified img {
  width: 100px;
}

.footer-social-information .text,
.footer-extra-information .text {
  font-size: 18px;
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 15px;
}