@font-face {
  font-family: 'SamsungSharp';
  src: url("../assets/fonts/SamsungSharp/SamsungSharpSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'SamsungSharp';
  font-weight: bold;
  src: url("../assets/fonts/SamsungSharp/SamsungSharpSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'SamsungSharp';
  font-weight: 600;
  src: url("../assets/fonts/SamsungSharp/SamsungSharpSans-Medium.otf") format("opentype");
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9f9f9f;
  opacity: 1; /* Firefox */
  font-weight: 600;
  font-family: 'SamsungSharp';
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9f9f9f;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9f9f9f;
}

body {
  margin: 0;
  font-size: 14px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: SamsungSharp, sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  outline: none;
}

.container {
  width: 1248px;
}

.bg-white {
  background: #fff;
}

.bg-gray {
  background: #f1f1f1;
}

.orange {
  color: #F4733A;
}

.input-group {
  display: flex;
  flex-direction: row;
}

.input-group .input-group-preappend {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
  border: 1px #EFF0F5 solid;
}

.btn {
  text-align: center;
  color: #2d2d2d;
  border-radius: 20px;
  outline: none;
  background: #f1f1f1;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

.btn.btn-primary {
  color: #fff;
  background: #17299F;
  border: 1px #17299F solid;
}

.btn.btn-black-border {
  border: 1px #000000 solid;
  color: #000000;
  background: transparent;  
}

.btn.btn-white-border {
  border: 1px #fff solid;
  color: #fff;
  background: transparent;  
}

.w-100 {
  width: 100%;
}

.icon {
  width: 20px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;  
}

.icon-chevron-right-white {
  background-image: url('../images/arrow-right-white.svg');
}

.icon-chevron-right-black {
  background-image: url('../images/arrow-right.svg');
}

.icon-chevron-left-white {
  background-image: url('../images/arrow-left-white.svg');
}

.icon-chevron-left-black {
  background-image: url('../images/arrow-left.svg');
}