header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-header{
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f7f7f7;
}

.top-header ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 7px 0;
}

.top-header ul li {
  margin-left: 20px;
  font-weight: bold;
  color: #9f9f9f;
}


.top-header ul li.active {
  color: #16316C;
}


.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header .container {
  display: flex;
  flex-direction: column;
}

.header .search-bar {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.header .search-bar .logo {
  width: 180px;
  height: auto;
  object-fit: cover;
  margin-right: 25px;
}

.header .input-group .input {
  background: #EFF0F5;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
  border-color: #EFF0F5;
}

.header .input-group {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-right: 15px;
}


.header .input-group .input-group-preappend {
  background: #F4733A;
  padding: 10px 13px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header .input-group .input-group-preappend .fa-search {
  font-size: 15px;
  color: white;
}
.header .shopping-cart {
  width: 22px;
  height: 22px;
}

.header .menu {
  display: flex;
  padding: 10px 0;
  color: #16316C;
}

.header .menu .category-item {
  width: 180px;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.header .menu .category-item i {
  margin-left: 10px;
}

.header .menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header .menu ul .menu-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header .menu ul .menu-item img {
  width: 23px;
  margin-right: 5px;
}