header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-fixed-header {
  display: none;
  visibility: hidden;
}

.mobile-category {
  display: none;
  visibility: hidden;
}

.header-submenu {
  background: #f7f7f7;
}

.header-submenu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 185px;
}

.header-submenu ul .submenu-item {
  padding: 10px 20px;
  color: #000000;
  text-align: center;
}

.header-submenu ul .submenu-item:hover,
.header-submenu ul .submenu-item.active {
  background: #7E7E7E;
  color: white
}

.header-banner-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}