header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-category {
  display: none;
  visibility: hidden;
}

.header-submenu {
  background: #f7f7f7;
}

.header-submenu ul {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row;
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.header-submenu ul .submenu-item{
  padding: 0 5px;
  display: flex;
  align-items: center;
  color: #000000;
  text-align: center;
  height: 40px;
  font-weight: bold;
}

.header-submenu ul .submenu-item:hover{
  background: #7E7E7E;
  color: white
}

.header-submenu ul .submenu-item:hover a{
  color: white;
}

.top-header {
  display: flex;
  justify-content: space-around;
  background: #fff;
  margin-bottom: 15px;
  align-items: center;
}

.top-header .banner {
  height: 140px;
  width: 40%;
  margin: 20px 0;
  object-fit: contain;
}

.top-header .card {
  padding: 0 15px;
  height: 130px;
  width: 48%;
  box-shadow: 2px 2px 37px 0 rgba(212, 212, 212, 0.32);
  display: flex;
  align-items: center;
}

.top-header .card .logo {
  height: 95px;
}

.top-header .card .button-wrapper {
  display: flex;
  margin-right: 10px;
  margin-left: 25px;
}

.top-header .card .button-wrapper img {
  width: 75px;
  margin: 0 5px;
}

.top-header .card .follow-wrapper {
  margin-top: 50px;
  width: 120px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.top-header .card .follow-wrapper .follow.first {
  margin-right: 10px;
  color: #9b9b9b;
}

.top-header .card .follow-wrapper .follow {
  font-size: 13px;
  font-weight: 600;
  color: #9b9b9b;
}

.header-banner-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}