@import "header.css";
@import "carousel.css";
@import "content.css";
@import "footer.css";
@import "social_icon.css";

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9f9f9f;
  opacity: 1; /* Firefox */
  font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9f9f9f;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9f9f9f;
}

@font-face {
  font-family: 'SamsungSharp';
  src: url("../assets/fonts/SamsungSharp/SamsungSharpSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'SamsungSharp';
  font-weight: bold;
  src: url("../assets/fonts/SamsungSharp/SamsungSharpSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'SamsungSharp';
  font-weight: 600;
  src: url("../assets/fonts/SamsungSharp/SamsungSharpSans-Medium.otf") format("opentype");
}

body {
  margin: 0;
  font-size: 15px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: SamsungSharp, sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  width: 1247px;
}

.bg-white {
  background: #fff;
}

.bg-gray {
  background: #f1f1f1;
}

.orange {
  color: #F4733A;
}

.input-group {
  display: flex;
  flex-direction: row;
}

.input-group .input-group-preappend {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
  border: 1px #EFF0F5 solid;
}

.btn {
  text-align: center;
  color: #2d2d2d;
  border-radius: 20px;
  outline: none;
  background: #f1f1f1;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.btn.btn-primary {
  color: #fff;
  background: #1429a0;
  border: 1px #1429a0 solid;
}

.btn.btn-black-border {
  border: 1px #2d2d2d solid;
  color: #2d2d2d;
  background: transparent;  
}

.btn.btn-white-border {
  border: 1px #fff solid;
  color: #fff;
  background: transparent;  
}

.btn.btn-primary:hover {
  border: 1px #2d2d2d solid;
  color: #2d2d2d;
  background: transparent;
}