@media only screen and (max-width: 1248px) {
  .slideshow-container .carousel-item-event {
    padding: 0 40px;
  }

  .slideshow-container .carousel-item-event .right {
    width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slideshow-container .carousel-item-event {
    padding: 0 50px;
  }

  .slideshow-container .carousel-item-event .left {
    width: 40%;
  }

  .slideshow-container .carousel-item-event .left .content img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .slideshow-container {
    margin-top: 5px;
  }

  .slideshow-container .carousel-item {
    padding: 35px 15px;
    padding-bottom: 30px;
    flex-direction: row;
    padding-bottom: 30px;
    height: 100%;
  }

  .slideshow-container .carousel-item-event{
    flex-direction: column-reverse;
  }

  .slideshow-container .carousel-item .right {
    width: 53%;
    margin: 0;
    height: 240px;
  }

  .slideshow-container .carousel-item-event .right {
    width: 100%;
    margin: 0;
    height: 250px; 
  }

  .slideshow-container .carousel-item-event .left .offical-banner {
    width: 120px;
    left: 20px;
    top: 30px;
  }

  .slideshow-container .carousel-item .left .title {
    font-size: 12px;
  }

  .slideshow-container .carousel-item-event {
    padding: 0;
    background-image: none !important;
  }

  .slideshow-container .carousel-item-event .event-footer-banner-responsive {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 50px;
  }

  .slideshow-container .carousel-item-event .left {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .slideshow-container .carousel-item-event .responsive-title {
    display: block;
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .slideshow-container .carousel-item-event .left .title {
    display: none;
  }

  .slideshow-container .carousel-item-event .left .content {
    display: flex;
    align-items: center;
  }

  .slideshow-container .carousel-item-event .left .content img {
    width: 80%;
    margin-top: 40px;
  }

  .slideshow-container .carousel-item .left .text {
    margin: 8px 0;
    font-size: 12px;
  }

  .slideshow-container .carousel-item .left .price .currency {
    font-size: 17px;
  }

  .slideshow-container .carousel-item .left .price .text {
    font-size: 30px;
  }

  .slideshow-container .carousel-item .left .hint-price {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .slideshow-container .carousel-item .btn {
    width: 150px !important;
    padding: 10px 20px;
  }

  .slideshow-container .carousel-item-event .btn {
    width: 200px !important;
  }

  .slideshow-container .move {
    display: none;
    margin-top: -15px;
    padding: 5px;
  }

  .slideshow-container .icon {
    width: 13px;
  }

  .slideshow-container .dot-wrapper {
    margin-top: -15px;
  }

  .slideshow-container .dot-wrapper .dot {
    width: 8px;
    height: 8px;
  }

  .slideshow-container .carousel-item .right .promo-label {
    font-size: 14px;
    top: 15px;
  }

  .slideshow-container .carousel-item-event .right img {
    height: 300px;
  }
}


@media (max-width: 450px) {
  .slideshow-container .carousel-item .left .banner-logo {
    width: 170px;
    margin-top: -50px;
  }

  .banner-no-image .container {
    background-size: contain;
    margin: 5px 0;
  }

  .banner-no-image .container .title-responsive {
    font-size: 15px;
  }

  .banner-no-image .container .btn {
    padding: 8px 20px;
    font-size: 13px;
    margin-top: 2px;
  }
}

@media (max-width: 375px) {
  .slideshow-container .carousel-item-event .event-footer-banner-responsive {
    height: 30px;
    margin-top: 30px;
  }

  .slideshow-container .carousel-item .left .banner-logo {
    width: 130px;
  }

  .slideshow-container .carousel-item .btn {
    width: 100% !important;
    padding: 7px 15px;
  }

  .slideshow-container .carousel-item-event .btn {
    width: 200px !important;
    padding: 10px 20px;
  }

  .slideshow-container .carousel-item .right .event-promo-label,
  .slideshow-container .carousel-item .right .promo-label {
    font-size: 12px;
  }

  .slideshow-container .carousel-item-event .left .offical-banner {
    width: 100px;
  }
}

@media (min-width: 768px) and (max-width: 768px) {
  .slideshow-container .carousel-item-event .left .content img {
    width: 80% !important;
    margin-top: 70px !important;
  }

  .slideshow-container .carousel-item {
    justify-content: center !important;
  }
}