@media only screen and (max-width: 1248px) {
  .slideshow-container .carousel-item-event {
    padding: 0 40px;
  }

  .slideshow-container .carousel-item-event .right {
    width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slideshow-container .carousel-item-event {
    padding: 0 50px;
  }

  .slideshow-container .carousel-item-event .left {
    width: 40%;
  }

  .slideshow-container .carousel-item-event .left .content img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .slideshow-container {
    margin-top: 5px;
  }

  .slideshow-container .carousel-item {
    padding: 20px 0;
    padding-bottom: 30px;
    flex-direction: column-reverse;
    padding-bottom: 30px;
    height: 100%;
  }

  .slideshow-container .carousel-item .right {
    width: 100%;
    margin: 0;
    height: 300px;
  }

  .slideshow-container .carousel-item .left {
    width: 200px;
    justify-content: center;
    align-items: center;
  }

  .slideshow-container .carousel-item .left .title {
    font-size: 15px;
  }

  .slideshow-container .carousel-item-event {
    padding: 0;
    background-image: none !important;
  }

  .slideshow-container .carousel-item-event .event-footer-banner-responsive {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 50px;
  }

  .slideshow-container .carousel-item-event .left {
    width: 100%;
  }

  .slideshow-container .carousel-item-event .responsive-title {
    display: block;
    font-size: 20px;
    margin-top: 55px;
    font-weight: bold;
  }

  .slideshow-container .carousel-item-event .left .title {
    display: none;
  }

  .slideshow-container .carousel-item-event .left .content img {
    margin-top: 40px;
  }

  .slideshow-container .carousel-item .left .text {
    margin: 8px 0;
    font-size: 12px;
  }

  .slideshow-container .carousel-item .left .price .currency {
    font-size: 20px;
  }

  .slideshow-container .carousel-item .left .price .text {
    font-size: 30px;
  }

  .slideshow-container .carousel-item .left .hint-price {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .slideshow-container .carousel-item .btn {
    width: 200px;
  }

  .slideshow-container .dot-wrapper {
    margin-top: -15px;
  }

  .slideshow-container .dot-wrapper .dot {
    width: 8px;
    height: 8px;
  }

  .slideshow-container .carousel-item .right .promo-label {
    font-size: 14px;
    top: 15px;
  }

  .slideshow-container .carousel-item .right img {
    height: 300px;
  }
}
