@media (min-width: 768px) and (max-width: 992px) {
  .footer-information .footer-app-information {
    margin-top: 40px;
    width: auto;
  }
  footer .footer-information .group-link {
    width: 50%;
  }

  .footer-social-information .follow,
  .footer-social-information .area,
  .footer-extra-information .payment-method,
  .footer-extra-information .delivery{
    width: 40%
  }

  .footer-extra-information .verified {
    width: 20%;
  }
}

@media (max-width: 768px) {
  footer .footer-information,
  footer .footer-extra-information,
  footer .footer-social-information{
    display: none;
    visibility: hidden;
  }

  footer .mobile-footer {
    display: flex;
    visibility: visible;
    padding: 5px 0;
    background: #f2f2f2;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .mobile-footer .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-footer .item img{
    width: 30px;
  }

  .mobile-footer .item .text {
    font-size: 13px;
    font-weight: bold;
    color: #9b9b9b;
    margin-top: 4px;
  }
}

