@media (min-width: 768px) and (max-width: 1248px){
  .container {
    width: calc(100% - 60px);
    padding: 0 30px;
  }
}

@media (max-width: 768px){
  .container {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}

@media (max-width: 375px) {
  .container {
    width: calc(100% - 14px);
    padding: 0 7px;
  }
}